body{
            font-family: Arial;
            margin-top:0px;
            margin-bottom:0px;
        }
        .send-button{
            background-color: green;
            color:white;
            padding: 12px 20px;
            margin-left: 10px;
            border: none;
            border-radius:10px;
            font-size:15px;
            cursor: pointer;
        }
        .chat-input{
             padding: 12px 15px;
             border-radius:10px;
             border-width: 1px;
             font-size:15px;
             width:60vw;
             flex-grow:1;
        }
        .chat-input-container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;
        }
        .app-container{
            max-width:700px;
            margin-left: auto;
            margin-right: auto;
            height: 100vh;
            display: flex;
            flex-direction: column;
            
        }
        .user{

            display: flex;
            justify-content: end;
            margin-top: 20px;
            align-items:start;
            
        }
        .robot{
            display:flex;
            justify-content: start;
            margin-top: 20px;
            align-items: start;
        }
        .chat-message-text{
            background-color: rgb(238, 238,238);
            padding: 15px 20px;
            border-radius:10px;
            margin-right: 10px;
            margin-left: 10px;
            max-width:300px;
            word-break: break-word;

        }
        .chat-message-profile{
            width:50px;
        }
        .chat-messages-container{
            flex-grow: 1;
            margin-top: 20px;
            overflow: scroll;
            scrollbar-width: none;
        }
        .intro-message{
            margin-left: auto;
            margin-right: auto;
        }